<!-- Button trigger modal -->
<div class='property-list' data-toggle="modal" data-target="#property_{{property.id}}">
  <legend><h3><img src={{property.images}}>   {{property.type}} in {{property.location.name}}</h3></legend>
</div>


<!-- Modal -->
<div class="modal fade" id="property_{{property.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{property.type}} in {{property.location.name}}</h4>
      </div>
      <div data-dismiss="modal">
        {{#link-to 'property' property.id}}
          <div class="modalStyle">
            <ul>
              <li>
                <img src={{property.images.firstObject}}><br>
              </li>
                <div class="modal-body">
                  {{property.description}}
                </div>
            </ul>
          </div>
        {{/link-to}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
