<form>
  <legend><h3>Type</h3></legend>
  {{radio-button name='propertyType' value='Yard Space' groupValue=type collectParams='collectParams'}}Yard Space
  {{radio-button name='propertyType' value='Greenhouse' groupValue=type collectParams='collectParams'}}Greenhouse
  {{radio-button name='propertyType' value='Rooftop' groupValue=type collectParams='collectParams'}}Rooftop

  <br>
  <legend><h3>Location</h3></legend>

  {{#each locations as |location|}}
    {{radio-button name='location' value=location groupValue=type collectParams='collectParams'}}{{location.name}}
  {{/each}}

  <br>
  <legend><h3>Features</h3></legend>
  {{checkbox-input name='features' value='Chickens' groupValue=type collectParams='collectParams'}}Chickens
  {{checkbox-input name='features' value='Goats' groupValue=type collectParams='collectParams'}}Goats
  {{checkbox-input name='features' value='Bees' groupValue=type collectParams='collectParams'}}Bees
  <br>

  <div class="form-group">
    <legend><h3>Address</h3></legend>
    {{input value=address class="form-control"}}
  </div>

  <div class="form-group">
    <legend><h3>Description</h3></legend>
    {{textarea rows="5" value=description id="description" class="form-control"}}
  </div>

  <legend><h3>Upload Images of your Property</h3></legend>
  <legend>{{file-upload user=user uploadFile="uploadFile"}}</legend>

  <button class="btn btn-primary"{{action 'addProperty' user}}>Submit</button>
</form>
