<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#property_{{property.id}}">
  {{property.type}} in {{property.location.name}}
</button><br>

<!-- Modal -->
<div class="modal fade" id="property_{{property.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{property.type}} in {{property.location.name}}</h4>
      </div>
      <div data-dismiss="modal">
        {{#link-to 'property' property.id}}
          <div class=" modalStyle">
            <ul>
              <li>
                <img src={{property.images.firstObject}}><br>
              </li>
                <div class="modal-body">
                  /* once the description property is all ready to go this will be replaced */<p>Y'all ready to see some real shit, look at this fucking rooftop garden, honestly it could drive a green thumb mutha fucka insane just at the sight of all the produce that could be grown here, Y'all better know that im being honest this shit is off the hook!!!! Honestly you thought I was done until I realized how much more organic fucking dime pieces that you can get off just by having everything ready to go. It'll blow your damn mind I'd be too fussed to figure out how important it is for you to be a farmer here and what we could do to really make this happen! I'll Drop the price big time yo I am so down to get you a good deal not for me to make money but for you just to have to opportunity to grow your produce in such a ridiculously insane location I'M BEING HONEST HIT ME UP YOOO!</p>
                </div>
            </ul>
          </div>
        {{/link-to}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
