<form>
  <!-- <div class="btn-group" data-toggle="buttons"> -->
    <!-- <label>Property Type:</label>
    {{#radio-button value="Yard Space" groupValue= type}}Yard Space{{/radio-button}}
    {{#radio-button value="Greenhouse" groupValue= type}}Greenhouse{{/radio-button}}
    {{#radio-button value="Rooftop" groupValue= type}}Rooftop{{/radio-button}}
  </div> -->

<h3>Type</h3>
  {{radio-button name='propertyType' value='Yard Space' groupValue=type collectParams='collectParams'}}Yard Space
  {{radio-button name='propertyType' value='Greenhouse' groupValue=type collectParams='collectParams'}}Greenhouse
  {{radio-button name='propertyType' value='Rooftop' groupValue=type collectParams='collectParams'}}Rooftop

<br>
  <h3>Location</h3>
  {{radio-button name='location' value='Portland' groupValue=type collectParams='collectParams'}}Portland
  {{radio-button name='location' value='San Francisco' groupValue=type collectParams='collectParams'}}San Francisco
  {{radio-button name='location' value='New York' groupValue=type collectParams='collectParams'}}New York

<br>
  <h3>Features</h3>
  {{checkbox-input name='features' value='Chickens' groupValue=type collectParams='collectParams'}}Chickens
  {{checkbox-input name='features' value='Goats' groupValue=type collectParams='collectParams'}}Goats
  {{checkbox-input name='features' value='Bees' groupValue=type collectParams='collectParams'}}Bees

  <button {{action 'addProperty'}}>Submit</button>

</form>





<!-- {{outlet}} -->
