
<div class="container">
  <div class="row">
    <h3>
      <strong><legend><center>{{model.property.address}}<br>
      </center></legend></strong>
    </h3>
    <div class="jumbotron information" class="col-md-6">
      <legend><h3><strong>Type</strong>: {{model.property.type}}</h3></legend>

      {{description-compon model=model.property}}

      <legend><h3><strong>Location:</strong>
        {{#link-to 'location' model.property.location.id}}
          {{model.property.location.name}}
        {{/link-to}}
      </h3></legend>

      <div class="features">
        <h3>Features:</h3>
          {{#each model.property.features as |feature|}}
            <span class="feature">{{feature}}</span>
          {{/each}}
      </div>
      <br>
    </div>
    <br>
    {{carousel-component images=model.property.images}}
    <br>
    <div class="col-md-12">

     {{calendar-tile user=model.user}}
    </div>
   </div>
 </div>
