
<div class="container">
  <div class="row">
    <h3>
      <strong><legend><center>{{model.address}}<br>
      </center></legend></strong>
    </h3>
    <div class="jumbotron information" class="col-md-6">
      <legend><h3><strong>Type</strong>: {{model.type}}</h3></legend>

    {{description-compon model=model}}

      <legend><h3><strong>Location:</strong> {{#link-to 'location' model.location.id}}{{model.location.name}}{{/link-to}}</h3></legend>
      <div class="features">
        <h3>Features:</h3>
          {{#each model.features as |feature|}}
            <span class="feature">{{feature}}</span>
          {{/each}}
      </div>
    </div>
    <br>
    {{carousel-component images=model.images}}

      <!-- <div id="property-images" class="col-md-6" >

        <div id="carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src={{model.images}}>
                </div>
              {{#each model.images as |image|}}
                <div class="item">
                  <img src={{image}}>
                </div>
              {{/each}}
            </div>
          </div>
        </div> -->
        <br>
         {{calendar-tile}}
       </div>
     </div>




          <!-- <li>
            <img src={{image}}>
          </li> -->
