<div class="container">
  <div class="row">
    <div class="col-md-8 jumbotron information">
      <legend><h3><strong>Type</strong>: {{model.property.type}}</h3></legend>
      {{model.property.description}}
      <legend><h3><strong>Location:</strong> {{#link-to 'location' model.property.location.id}}{{model.property.location.name}}{{/link-to}}</h3></legend>
      <div class="features">
        <h3>Features:</h3>
          {{#each model.property.features as |feature|}}
            <span class="feature">{{feature}}</span>
          {{/each}}
      </div>
      {{calendar-tile user=model.user}}
    </div>
    <br>
    <div class="col-md-4 property-images" >
      <ul>
        {{#each model.property.images as |image|}}
          <li>
            <img src={{image}}>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
