<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 col-md-7 col-md-offset-1 jumbotron">
      <legend><h3><strong>Type</strong>: {{model.type}}</h3></legend>
      {{model.description}}

      <legend><h3><strong>Location:</strong> {{#link-to 'location' model.location.id}}{{model.location.name}}{{/link-to}}</h3></legend>
      <div class="features">
        <h3>Features:</h3>
          {{#each model.features as |feature|}}
            <span class="feature">{{feature}}</span>
          {{/each}}
      </div>
    </div>
    <br>
    <div class="col-sm-6 col-md-4 property-images" >
      <ul>
        {{#each model.images as |image|}}
          <li>
            <img src={{image}}>
          </li>
        {{/each}}
      </ul>
      
      {{property-map model=model}}
    </div>
  </div>
</div>
