{{outlet}}
<div class="container">
  <div class="row">
      <h3>
        <legend><center>{{model.firstName}} {{model.lastName}}<br>
        </center></legend>
      </h3>
    <div class="col-md-6 jumbotron userInfo">
      <legend><small>email: {{model.email}}</small><br></legend>
      <legend><small>based in: {{model.location}}</small></legend>


      <h3>Properties:</h3>
      <ul>
        {{#each model.properties as |property|}}
          <li>{{property-tile property=property}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6 avatar">
      <img src={{model.avatar}} alt={{model.email}} />
      <div class="upload-avatar">
        <h5>Upload Avatar Image:</h5>
        {{file-upload user=model uploadFile="uploadFile"}}
      </div>
    </div>
  </div>
</div>
